body {
  background-color: #fef4e8;
}

.footer {
  background-color: #fef4e8;
  padding: 0;
  padding-bottom: 2em;
}

h1, h2 {
  font-family: 'Petit Formal Script', cursive;
}

a:hover {
    color: #363636;
}

a {
    color: #a3caa4;
    cursor: pointer;
    text-decoration: none;
}

.titles {
    color: #a3caa4;
    padding-bottom: 20px;
    margin-bottom: 52px; !important
    border-bottom: aliceblue;
    border-bottom-color: #cecece;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    /* text-align: center; */
}

.content-section {
    padding-top: 6em;
    padding-bottom: 6em;
}

.fullbanner {
  background: url('../pic2.jpeg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.midbanner {
  background: url('../pic1.jpeg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 400px;
}

.lastbanner {
  background: url('../pic3.jpeg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 400px;
}
